name: Deploy to cloudtype
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Connect deploy key
        uses: cloudtype-github-actions/connect@v1
        with:
          token: ${{ secrets.CLOUDTYPE_TOKEN }}
          ghtoken: ${{ secrets.GHP_TOKEN }}
      - name: Deploy
        uses: cloudtype-github-actions/deploy@v1
        with:
          token: ${{ secrets.CLOUDTYPE_TOKEN }}
          project: lee-lou2/api
          stage: main
          yaml: |
            name: golang
            app: golang
            options:
              env:
                - name: MONGO_HOST
                  value: ${{ secrets.MONGO_HOST }}
                - name: MONGO_PORT
                  value: 27017
                - name: MONGO_USER_NAME
                  value: ${{ secrets.MONGO_USER_NAME }}
                - name: MONGO_PASSWORD
                  value: ${{ secrets.MONGO_PASSWORD }}
              ports: 8080
              healthz: /ping
            context:
              git:
                url: git@github.com:${{ github.repository }}.git
                ref: ${{ github.ref }}
              preset: golang
